$button-color: rgba(255,255,255,0.85);
$button-color-hover: #fff;
$button-bg-color: #41bea8;
$button-bg-color-hover: #5ec8b5;
$button-border-color: #0ca709;

#frontend-edit-button {
  position: fixed;
  z-index: 10000;
  padding: 5px;
}

#frontend-edit-button.top {
  top: 0;
}

#frontend-edit-button.bottom {
  bottom: 0;
}

#frontend-edit-button.left {
  left: 0;
}

#frontend-edit-button.right {
  right: 0;
}

.frontend-edit-button {
  background-color: $button-bg-color;
  border: 1px solid $button-border-color;
  border-radius: 5px;
  color: $button-color;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.frontend-edit-button:hover {
    background: $button-bg-color-hover;
    color: $button-color-hover;
}